//- https://npm-stat.com/charts.html?author=ackerapple
.flex-valign-center.flex-center.flex-1
  div
    iframe(
      style="width:100%:height:360px"
      width="100%"
      height="360"
      src="https://www.youtube.com/embed/230G8-TJccI?feature=player_embedded"
      frameborder="0"
      allowfullscreen
    )
    .flex-wrap.flex-1.flex-center.max-width-900
      .flex-1.margin-2x.text-2x
        a.nowrap.flex-valign-center.radius-10.no-a-style.pad-h-2x.pad-v-xs.bg-positive.text-white.text-center.hover-bg-positive.hover-text-white(
          routerLink="highlights"
        )
          i.fas.fa-file
          .flex-1.pad-h Resume Highlights
          i.fas.fa-file.invisible

      .flex-1.margin-2x.text-2x
        a.nowrap.flex-valign-center.radius-10.no-a-style.pad-h-2x.pad-v-xs.bg-positive.text-white.text-center.hover-bg-positive.hover-text-white(
          href = "https://ackerapple.github.com/resume/assets/Acker Apple Resume.pdf"
          target = "_blank"
        )
          i.fas.fa-file-pdf
          .flex-1.pad-h Download Resume
          i.fas.fa-file-pdf.invisible
