ack-modal(
  *ngIf="shows.showForgotPw"
  "(close)" = "shows.showForgotPw=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5.max-width-500(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    h2 Password Retrieval
    .text-sm.text-justify
      p This is a very private sharing app. Acker Apple distributes and maintains unique passwords. You cannot choose a password, one must be given to you.
      p If you are family, then contact Acker for a new password or if you never received one.
    h2 Need Help?
    .text-sm.text-justify
      p Please contact Acker right away
      p
        strong Phone:&nbsp;
        a.no-a-style(
          href="tel:5612392967"
        )
          span.underline (561) 239-2967
      
      p
        strong Email:&nbsp;
        a.no-a-style(
          "[share-button]"="{}"
          type="shareViaEmail"
        )
          span.underline me@ackerapple.com

ack-modal(
  *ngIf="shows.showReportIssue"
  "(close)" = "shows.showReportIssue=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5.max-width-500(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    h2 Need Help?
    .text-sm.text-justify
      p Please contact Acker right away
      p
        strong Phone:&nbsp;
        a.no-a-style(
          href="tel:5612392967"
        )
          span.underline (561) 239-2967
      
      p
        strong Email:&nbsp;
        a.no-a-style(
          "[share-button]"="{}"
          type="shareViaEmail"
        )
          span.underline me@ackerapple.com

ack-modal(
  *ngIf="shows.showMoreInfo"
  "(close)" = "shows.showMoreInfo=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5.max-width-500(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    family-more-info

.height-full.flex-valign-center.flex-center
  .width-full.max-width-400
    .text-center
      h2.margin-top-0 Our Family Our Cloud
      p Login below
    br

    ack-fire-login-form(
      "[(email)]" = "FamilyApp.AppData.offline.user.email"
      "(success)" = "onLogin()"
    )
    
    .pad.text-center
      .flex-apart
        a.text-sm.underline.opacity-80(
          "(click)" = "shows.showForgotPw=true"
        )
          |forgot password
        a.text-sm.underline.opacity-80(
          "(click)" = "shows.showMoreInfo=true"
        )
          |more information
      .flex-apart
        a.text-white.text-sm.underline.opacity-80(
          href="https://ackerapple.com/assets/docs/app-privacy.txt"
        )
          |privacy policy

        a.text-sm.underline.opacity-80(
          "(click)" = "shows.showReportIssue=true"
        )
          |report issue

