ack-modal(
  *ngIf="shows.showForgotPw"
  "(close)" = "shows.showForgotPw=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5.max-width-500(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    h2 Password Retrieval
    .text-sm.text-justify
      p This is a very private sharing app. Acker Apple distributes and maintains unique passwords. You cannot choose a password, one must be given to you.
      p If you are family, then contact Acker for a new password or if you never received one.
    h2 Need Help?
    .text-sm.text-justify
      p Please contact Acker right away
      p
        strong Phone:&nbsp;
        a.no-a-style(
          href="tel:5612392967"
        )
          span.underline (561) 239-2967
      
      p
        strong Email:&nbsp;
        a.no-a-style(
          "[share-button]"="{}"
          type="shareViaEmail"
        )
          span.underline me@ackerapple.com

ack-modal(
  *ngIf="shows.showReportIssue"
  "(close)" = "shows.showReportIssue=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5.max-width-500(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    h2 Need Help?
    .text-sm.text-justify
      p Please contact Acker right away
      p
        strong Phone:&nbsp;
        a.no-a-style(
          href="tel:5612392967"
        )
          span.underline (561) 239-2967
      
      p
        strong Email:&nbsp;
        a.no-a-style(
          "[share-button]"="{}"
          type="shareViaEmail"
        )
          span.underline me@ackerapple.com

ack-modal(
  *ngIf="shows.showMoreInfo"
  "(close)" = "shows.showMoreInfo=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5.max-width-500(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    .text-center
      i.fas.fa-info-circle.fa-4x.text-info
    .text-sm.text-justify
      p Chances are you've witnessed or have been apart of social media drama. My family and I have.
      p Chances are equally great though that you have enjoyed and had your life enriched by those social platforms too.
      p
        strong Photos
        |&nbsp;remain one of the greatest simpliest joys of social platforms.
        |&nbsp;But things like comments, likes, view counts, and such can be a dilutive part of the sharing experience.
      p There is also privacy concerns and long term unknowns on large social platforms when it comes to media storage. We do not all even have the same private cloud services and that makes it become unfair to certain family members that miss out completely.
      p That's why I created a family private sharing portal, within my own app. I'm responsible for it, you know me, and we are family.
      p
        strong If you are family,
        |&nbsp;you will get:
      .child-pad-bottom
        .flex
          .pad-right-smx
            i.fas.fa-circle.fa-xs
          span A combined sharing total of 90 photos
        .flex
          .pad-right-smx
            i.fas.fa-circle.fa-xs
          span New photos delete photos beyond 90
        .flex
          .pad-right-smx
            i.fas.fa-circle.fa-xs
          span no comments, no likes, no view counts, no sharing. Just viewing and uploading photos.
        .flex
          .pad-right-smx
            i.fas.fa-circle.fa-xs
          span No website. App is only available in app stores for greater security and reliability
        .flex
          .pad-right-smx
            i.fas.fa-circle.fa-xs
          span A close circuit like experience

      p Please feel free to contact Acker for more information

.width-full.max-width-500
  .text-center
    h2.margin-top-0 Our Family Our Cloud
    p Login below
  br

  form(
    "(submit)"="login()"
  )
    .form-group(
      "[class.has-error]" = "submitCount && !vals.email"
      "[shakeOn]" = "!vals.email && submitCount"
    )
      label.pad-left
        i.fas.fa-envelope
        strong
          |&nbsp;Email
      input.form-control(
        type="email" required name="email"
        "[(ngModel)]"="user.email"
        "(keyup)"="reval()"
      )
    br
    .form-group(
      "[class.has-error]" = "submitCount && !vals.password"
      "[shakeOn]" = "!vals.password && submitCount"
    )
      label.pad-left
        i.fas.fa-key
        strong
          |&nbsp;Password
      input.form-control(
        type="password" required name="password"
        "[(ngModel)]"="user.password"
        "(keyup)"="reval()"
      )
    
    br
    .text-assertive.text-center(
      *ngIf="rejectCount"
      "[shakeOn]" = "rejectCount"
      "[@fadeInOutUp]" = "1"
    )
      i.fas.fa-exclamation-triangle
      |&nbsp;invalid login. try again
    br

    button.width-full.border-0.bg-assertive.pad.block.text-white(
      type="submit"
    )
      strong GO
  
  .pad.text-center
    .flex-apart
      a.text-sm.underline.opacity-80(
        "(click)" = "shows.showForgotPw=true"
      )
        |forgot password
      a.text-sm.underline.opacity-80(
        "(click)" = "shows.showMoreInfo=true"
      )
        |more information
    br
    a.text-sm.underline.opacity-80(
      "(click)" = "shows.showReportIssue=true"
    )
      |report issue

