ack-modal(
  *ngIf="showEmailModal"
  "(close)" = "showEmailModal=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    h2 My Email Address
    .text-center
      a(
        href="mailto:me@AckerApple.com?subject=Contact from app"
      )
        |me@AckerApple.com
    br
    br
    .pad
      a.block.pad.radius-5.text-center.text-white(
        "(click)" = "copyEmail()"
        "[ngClass]" = "hasEmailCopy ? 'bg-energized' : 'bg-positive'"
      )
        |COPY EMAIL

ack-modal(
  *ngIf="showPhoneModal"
  "(close)" = "showPhoneModal=false"
  backgroundColor = "rgba(3,3,3,.7)"
)
  .pad.radius-5(
    style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
  )
    h2 My Phone Number
    .text-center
      a(
        href="tel:5612392967"
      )
        |(561) 239-2967
    br
    br
    .pad
      a.block.pad.radius-5.text-center.text-white(
        "(click)" = "copyPhone()"
        "[ngClass]" = "hasPhoneCopy ? 'bg-energized' : 'bg-positive'"
      )
        |COPY PHONE

.flex-center.titlelessRouteWrap
  .text-white.width-full.max-width-400
    br
    .flex-center.width-full.overflow-hidden
      .max-width-500.flex-1.animated.rubberBand.slower.delay-2s(
        style="height:60px"
      )
        .flex-center
          .width-full.flex-1(
            *ngIf="delay2"
            "[@fadeInOut]" = "1"
            style="max-width:280px"
          )
            audio.width-full(controls)
              source(src="assets/audio/AppIntro.mp3" type="audio/mpeg")
              |Your device does not support audio elements.

    h1.margin-0(
      "(click)" = "AppData.debugTap()"
    )
      //-.inline-block.invisible
        i.fas.fa-apple-alt
      .inline-block(
        "[@fadeInOut]" = "{value:1,params:{time:'1s'}}"
      )
        .animated.bounce.flex-valign-center
          span &nbsp;
          //-i.fas.fa-apple-alt
          img.radius-half(
            src="/assets/images/profile-72@2x.png" width="40" height="40"
          )
          strong &nbsp;Acker Apple
    
    .child-pad-v.text-center.animated.fast.swing.delay-300ms
      .animated(
        "[class.pulse]" = "mouseover===0"
        "(mouseover)" = "mouseover=0"
        "(mouseout)" = "mouseover=null"
      )
        a.no-a-style.bg-calm.pad.flex-valign-center(
          routerLink = "/life"
        )
          .pos-rel.opacity-90
            .pos-abs(style="top:-5px")
              i.fa-2x.fas.fa-hand-spock
            |&nbsp;
          strong.flex-1 LIFE
          i.fas.fa-chevron-right
            

      .animated(
        "[class.pulse]" = "mouseover===1"
        "(mouseover)"="mouseover=1"
        "(mouseout)"="mouseover=null"
      )
        a.no-a-style.bg-energized.pad.flex-valign-center(
          routerLink = "/career"
        )
          .pos-rel.opacity-90
            .pos-abs(style="top:-5px")
              i.fa-2x.fas.fa-rocket
            |&nbsp;
          strong.flex-1 CAREER
          i.fas.fa-chevron-right

      .animated(
        "[class.pulse]" = "mouseover===2"
        "(mouseover)"="mouseover=2"
        "(mouseout)"="mouseover=null"
      )
        a.no-a-style.bg-royal.pad.flex-valign-center(
          routerLink = "/passion"
        )
          .pos-rel.opacity-90
            .pos-abs(style="top:-5px")
              i.fa-2x.fas.fa-heart
            |&nbsp;
          strong.flex-1 PASSION
          i.fas.fa-chevron-right

      .animated(
        "[class.pulse]" = "mouseover===3"
        "(mouseover)"="mouseover=3"
        "(mouseout)"="mouseover=null"
      )
        a.no-a-style.bg-assertive.pad.flex-valign-center(
          routerLink = "/family"
        )
          .pos-rel.opacity-90
            .pos-abs(style="top:-5px")
              i.fa-2x.fas.fa-users
            |&nbsp;
          strong.flex-1 FAMILY LOGIN
          i.fas.fa-chevron-right
    
    .text-right.pad-h
      .flex-apart.flex-valign-center(
        "[@fadeInOut]" = "{value:1,params:{time:'1s'}}"
      )
        .flex1.text-center
          a.no-a-style.text-white.text-xs(
            routerLink = "/stats"
          )
            strong app stats

        .flex1.text-center(
          *ngIf="AppData.environment.platform!=='ios'"
        )
          a.no-a-style.text-white.text-xs(
            href = "https://ackerapple.com"
            target = "_blank"
          )
            strong website

        .flex1.text-center(
          *ngIf="AppData.environment.platform=='ios'"
        )
          a.no-a-style.text-white.text-xs(
            "[share-button]" = "{url:'https://ackerapple.com', message:'Presentation site of South Florida software engineer Acker Apple\n\n', subject:'Check out this software engineer'}"
          )
            strong share

        //-.animated.rubberBand.delay-3s.slower

        ack-modal(
          *ngIf="confirmIntro"
          "(close)" = "confirmIntro=false"
          backgroundColor = "rgba(3,3,3,.7)"
        )
          .pad.radius-5.max-width-500(
            style="border:1px rgba(3,3,3,.7) solid;background-color:#EEE"
          )
            h3 Go back to introductory screens?
            p You originally viewed this content #[strong {{ AppData.offline.completedIntroAt | aDate : 'fromNow' }}] on {{ AppData.offline.completedIntroAt | date : 'shortDate' }} at {{ AppData.offline.completedIntroAt | date : 'shortTime' }}
            a.no-a-style.block.pad.bg-positive.text-center.text-white(
              routerLink = "/intro"
              "(click)" = "confirmIntro=false"
            )
              strong Goto Intro
        .flex1.text-center
          a.text-xs(
            "(click)" = "confirmIntro=true"
          )
            strong intro

    .flex-center.pad-top
      strong.text-xs.opacity-half
        |v{{ version }}

    .flex-evenly.child-pad.pad-top-2x
      a.no-a-style.radius-half.width-60.height-60.bg-positive.flex-valign-center(
        "(click)" = "showPhoneModal = !showPhoneModal"
      )
        i.fas.fa-phone.fa-2x
      
      a.no-a-style.radius-half.width-60.height-60.bg-balanced.flex-valign-center(
        "(click)" = "showEmailModal = !showEmailModal"
      )
        i.fas.fa-envelope.fa-2x
    div
      br
